body {
    margin: 0;
    text-align: center;
    font-family: "Urbanist", sans-serif;
}

#header {
    background-image: url("https://images.unsplash.com/photo-1597652074364-bcaa4c3f5537?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title-txt {
    background-color: #87C5FE;
    padding: .1em .2em;
    margin-bottom: 0;
    border-radius: 8px;
}

#info-txt {
    background-color: #135381;
    max-width: 16em;
    padding: .2em 0;
    border-radius: 8px;
    margin-top: .3em;
}

#activities {
    background-color: #EDE35F;

}

#card-section {
    display: flex;
    justify-content: space-around;
}

#activities h3 {
    margin: 0;
    padding: 1em;
}

.card-img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0;
}

.card-txt {
    margin: .5em 2em;
}

#guide-card {
    margin: 3em auto;
    display: flex;
    background-color: #87C5FE;
    max-width: 30em;
    border-bottom: 8px solid #135381;
}

#guide-card img {
    height: 16em;
    width: 10em;
    object-fit: cover;
    margin: 1em;
}

#guide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#guide-name {
    font-weight: bold;
}